html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout {
  min-width: 1200px;
  padding-left: 140px;
  margin: 0 auto;
}

.page-header {
  width: 100%;
  background-color: #eeeeee;
}

.header-layout {
  min-width: 1200px;
  display: flex;
  align-items: flex-start;
  padding-left: 140px;
  padding-top: 49px;
  margin: 0 auto;
}

.logo {
  width: 160px;
  margin-right: 180px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus {
  opacity: 0.3;
}

.main-nav {
  padding-top: 25px;
}

.main-nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  position: relative;
}

.main-nav-item {
  padding: 7px 22px;
}

.main-nav-link[href]:hover:not(.nav-active),
.main-nav-link[href]:focus {
  color: #fb565a;
}


.main-nav-link[href]:active {
  opacity: 0.3;
  color: #000000;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.main-nav-link.nav-active::after {
	background-color: #fb565a;
}

.user-nav {
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0 0 0;
  margin: 0 0 0 auto;
  margin-left: 41px;
}

.user-nav-item + .user-nav-item {
  margin-left: 15px;
}

.user-nav-basket {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  border: none;
  padding: 0 0 0 44px;
  margin: 0;
  border-bottom: 2px solid #fb565a;
}

.user-nav-basket[href] {
  border: none;
}

.user-nav-basket::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav-basket[href]:hover,
.user-nav-basket[href]:focus {
  color: #fb565a;
}

.user-nav-basket[href]:active {
  opacity: 0.3;
  color: #000000;
}

.slider {
  width: 100%;
  height: 428px;
  background-color: #eeeeee;
  margin: 0 auto;
}

.slider-layout {
  position: relative;
  margin: 0 auto;
  min-width: 1200px;
  padding-left: 140px;
  padding-right: 140px;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.slider-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  width: 1160px;
  padding-top: 55px;
  padding-bottom: 80px;
} 

.slider-item-current {
  display: flex;
}

.slider-item:nth-of-type(1) {
	background-image: url("../img/slide-picture.png");
	background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: -31px;
}

.slider-item:nth-of-type(2) {
	background-image: url("../img/slide-picture-2.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.slider-item:nth-of-type(3) {
	background-image: url("../img/slide-picture-3.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.slider-title {
  display: block;
	font-size: 55px;
	line-height: 55px;
	text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 30px;
  margin-top: 19px;
}

.slider-text {
	width: 500px;
	color: #283136;
	line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  margin-left: 31px;
	display: flex;
	flex-direction: column;
	padding-top: 4px;
}

 .slider-toggles {
  position: absolute;
  bottom: 84px;
  right: 50%;
  transform: translateX(97%);
} 

.slider-toggles input[type="radio"] {
  display: none;
}

.slider-controls {
  margin-bottom: 10px;
}

 .slider-controls label {
  display: inline-block;
  margin: 0 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
} 

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  border: 6px solid #FFF;
  background-color: #c1c1c1; 
} 

.btn {
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
  padding: 17px 40px 18px;
  margin: 0;
}

.btn-slider {
  display: inline-block;
  padding-left: 53px;
  padding-right: 55px;
  margin-left: 32px;
  margin-top: 6px;
}

.btn-slider:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
	background-color: #fb565a;
	border-radius: 3px;
}

.btn-green {
  background-color: #00CA74;
  border-radius: 3px;
}

.btn-yellow {
  background-color: #EFC84A;
  border-radius: 3px;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
}

.btn-green:hover,
.btn-green:focus {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
}
	
.services {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 30px;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
  border-bottom: 1px solid #EEE;
}

.services-item {
	width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.service {
  width: 300px;
  margin-top: 12px;
}

.service-title {
  text-transform: uppercase;
  font-size: 24px;
}

.service-text {
	margin-bottom: 40px;
}
	
.service-btn {
	display: inline-block;
	width: 160px;
	height: 50px;
	color: #ffffff;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}

.service-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.info {
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}

.info-wrapper {
	display: block;
	width: 650px;
}

.info-services {
	list-style: none;
}

.info-services li{
	padding-bottom: 30px;
	margin-left: -4px;
	
}

.info-services li::before{
	content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #fb565a;
  margin-left: -34px;
  margin-top: -14px;
}

.info-text {
	width: 650px;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	color: #283136;
	padding-bottom: 22px;
}

.info-title {
	display: block;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	letter-spacing: 0.2px;
	margin-bottom: 33px;
}

.info h3 {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
}

.facts {
	display: block;
  width: 360px;
  margin-left: auto;
  text-align: center;
  margin-top: -30px;
}

.facts p {
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 18px;
}

.indicators td {
	padding-top: 49px;
	padding-bottom: 27px;
	font-size: 45px;
	line-height: 10px;
	color: #000000;
	font-weight: bold;
	letter-spacing: -2,5px;
}

.indicators th {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
	font-weight: 400px;
	text-align: left;
}

.clients {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  width: 100%;
}

.clients-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -6px;
}

.clients-item {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.clients-item a::after {
  content: "";
  position: relative;
  width: 2px;
  background-color: #eee;
  left: 49px;
  height: 52px;
}

.clients-item:last-child a::after {
  display: none;
}


.clients-list a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clients-item-logo:hover,
.clients-item-logo:focus {
  opacity: 1;
}

.clients-item-logo:active {
  opacity: 0.1;
}

.clients-item-logo {
  opacity: 0.2;
}

.page-footer {
	position: relative;
	padding-top: 80px;
	width: 100%;
}

.map-and-contacts {
  margin: 0;
  padding: 0;
  background: url("../img/map.jpg") no-repeat center top;
  width: 100%;
  height: 416px;
  position: relative;
  z-index: 1;
}

.map {
  position: relative;
}

.map iframe {
  width: 100%;
}

.contacts {
	position: absolute;
	width: 319px;
  height: 308px;
  box-sizing: border-box;
  padding-top: 36px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
	background-color: #FFF;
  top: 54px;
  left: 140px;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	font-weight: bold;
	color: #000000;
}

.contacts-address,
.contacts-tel {
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	color: #666666;
  border-radius: 3px;
  padding-top: 8px;
}

.contacts-btn {
	display: inline-block;
	width: 219px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-top: 34px;
	margin-bottom: 47px;
}

.map-marker {
  position: absolute;
  top: 90px;
  left: 820px;
}

.feedback-window {
  display: none;
  margin: auto;
  width: 960px;
  height: 590px;
  padding-left: 100px;
  padding-top: 73px;
  padding-right: 100px;
  padding-bottom: 84px;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: relative;
  z-index: 2;
  margin-top: -555px;
}

.feedback-form {
  position: relative;
}

.feedback-title {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin: 0;
  margin-bottom: 49px;
}

.feedback-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
}

.feedback-field {
  width: 360px;
  margin: 0;
}

.feedback-field label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.5;
}

.feedback-field input {
  box-sizing: border-box;
  width: 360px;
  padding-left: 16px;
  padding-top: 18px;
  padding-bottom: 19px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
}

.feedback-field input:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field input:focus{
  border: 2px solid #000;
}

 .feedback-field input:invalid{
  border: 2px solid #e74246;
} 

.feedback-field textarea {
  height: 118px;
  width: 760px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 10px 13px;
  outline: none;
}

.feedback-field textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field textarea:focus{
  border: 2px solid #000;
}

.feedback-field textarea:invalid{
  border: 2px solid #e74246;
} 

.feedback-btn {
  display: block;
  width: 260px;
  line-height: 50px;
  margin-top: 30px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

.feedback-close {
  position: absolute;
  top: -80px;
  right: -5px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.feedback-close:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  top: 10px;
  left: 2px;
  background-color: #e74246;
  opacity: 0.3;
  transform: rotate(45deg);
}

.feedback-close:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  top: 10px;
  left: 2px;
  background-color: #e74246;
  opacity: 0.3;
  transform: rotate(-45deg);
}

.feedback-close:hover:before {
  color: #e74246;
  opacity: 1;
}

.feedback-close:hover:after {
  color: #e74246;
  opacity: 1;
}

.feedback-close:active:before {
  color: #e74246;
  opacity: 0.1;
  outline: none;
}

.feedback-close:active:after {
  color: #e74246;
  opacity: 0.1;
  outline: none;
}

.page-footer-bottom {
	display: flex;
	align-items: center;
	min-width: 1200px;
  margin: 0 auto;
  margin-top: 74px;
}

.social-list {
	display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -90px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.social-item {
	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	display: flex;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}

.social-link {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
	background-color: #e74246;
}

.social-link:focus {
	background-color: #d7373b;
}

.social-link:focus svg{
	opacity: 0.3;
}

.slogan {
	padding-left: 127px;
	padding-bottom: 76px;
}

.slogan-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-align: left;
	color: #000000;
}

.slogan-text {
	font-size: 16px;
	text-align: left;
	line-height: 22px;
	color: #444444;
}

.title {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	text-align: center;
	background-color: #eeeeee;
	padding-top: 72px;
	padding-bottom: 116px;
  margin:0;
  padding-left: 85px;
}

.catalog-layout {
  min-width: 1200px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 53px;
  margin: 0 auto;
  display: flex;
}

.catalog-layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.catalog-columns {
	display: flex;
	margin: 0 auto;
  display: block;
}

.filters {
	width: 260px;
}

.range {
  position: relative;
  padding: 40px 0 40px 18px;
  margin-top: 33px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 261px;
}

.range .line {
  height: 2px;
  width: 218px;
  background-color: #d7dcde;
}

.range .line-left {
  position: absolute;
  top: 40px;
  height: 2px;
  width: 145px;
  background-color: #00ca74;
}

.range-left-btn,
.range-right-btn {
  background: transparent;
  border: 0;
  background-image: url("../img/filter-button.svg");
  position: absolute;
  top: 30px;
  left: 17px;
  cursor: pointer;
  width: 20px;
  height: 23px;
}

.range-right-btn {
  left: 159px;
}

.cost {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  margin-bottom: 62px;
  width: 260px;
}

.cost-range {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #283136;
}

.cost-range label {
  margin-right: 11px;
}

.cost input {
  font-family: inherit;
  width: 80px;
  padding: 8px 5px;
  text-align: center;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 3px;
}

.filter-list {
	margin: 0;
  padding: 0;
  border-style: none;
}
.filter-title,
.sort-title {
	text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.filter-title {
  margin: 0;
  padding-bottom: 21px;
  letter-spacing: 2px;
}

.filter-item {
  padding-bottom: 18px;
}

.filter-item:last-child {
  padding-bottom: 57px;
}

.filter-item label {
  position: relative;
  display: block;
  padding-left: 36px;
  color: #283136;
}

.filter-item label:disabled {
  color: #283136;
  opacity: 0.3;
}

.filter-btn {
  width: 260px;
  height: 50px;
  background-color: #eee;
  text-transform: uppercase;
  padding-left: 89px;
  padding-right: 88px;
  line-height: 50px;
  border: none;
  border-radius: 3px;
  margin-top: 35px;
}

.filter-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active {
  background-color: #d5d5d5;
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

input[type="radio"] + label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

input[type="radio"] + label:hover::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-off.svg");
  opacity: 1;
}

input[type="radio"]:checked + label::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

input[type="radio"]:checked + label:hover::after{
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.catalog-form label {
	font-size: 16px;
	line-height: 20px;
  color: #283136;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

input[type="checkbox"] + label:hover::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 1;
}

input[type="checkbox"] + label:hover::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.3;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
} 

input[type="checkbox"]:checked + label:hover::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
} 

input[type="checkbox"] + label:disabled::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.3;
} 

.catalog-main {
	margin: 0;
	padding: 0;
  display: block;
  width: 900px;
}

.catalog-list {
	display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 140px;
  margin-top: 12px;
}

.catalog-list-item {
  padding-bottom: 67px;
	position: relative;
}

.catalog-items {
	display: block;
}

.catalog-item {
	position: relative;
  padding: 0;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
	content: "";
	background-image: url("../img/browser.png");
	position: absolute;
	top: -40px;
  width: 100%;
  height: 40px;
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover {
  box-shadow: 0px 5px 8px 3px rgba(50, 50, 50, 0.4);
}

.catalog-item-hover {
  width: 100%;
  min-height: 231px;
  text-align: center;
  padding: 24px 0 40px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
	z-index: 10;
  display: none;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item-title {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.catalog-item-link {
  color: #000;
}

.catalog-item-link:hover {
  color: #fb565a;
}

.catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-text {
	font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
}

.catalog-item-btn {
	color: #FFF;
	font-size: 18px;
	text-transform: uppercase;
	padding-left: 62px;
	padding-top: 19px;
	padding-right: 60px;
	padding-bottom: 18px;
	line-height: 50px;
}

.sort {
	display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 59px;
  margin-left: 140px;
}

.sort-list {
  display: flex;
  padding-bottom: 27px;
}

.sort-title {
  margin-right: 285px;
}

.sort-items {
	display: flex;
  width: 310px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}

.sort-item {
  margin-right: 26px;
  opacity: 0.3;
}

.sort-item-active {
  opacity: 1;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active,
.sort-item:focus {
  opacity: 1;
}

.btn-group {
  display: flex;
  margin-left: 10px;
}

.button-down {
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: #000 transparent transparent;
  opacity: 0.2;
  margin-top: 3px;
  cursor: pointer;
}

.button-down-active {
  opacity: 1;
}

.button-up {
  border-style: solid;
  border-width: 0 5px 10px;
  border-color: transparent transparent #000;
  opacity: 0.2;
  margin-bottom: 5px;
  margin-left: 18px;
  cursor: pointer;
}

.button-up:hover {
  border-color: transparent transparent #000000;
  opacity: 0.6;
}

.button-down:hover {
  border-color: #000000 transparent transparent;
  opacity: 0.6;
}

.button-up:focus,
.button-up:active {
  border-color: transparent transparent #000000;
  opacity: 1;
}

.button-down:focus,
.button-down:active {
  border-color: #000000 transparent transparent;
  opacity: 1;
}

.pagination {
  display: block;
  margin-left: 140px;
  margin-top: -20px;
}

.pagination-list {
	margin: 0;
  padding: 0;
	display: flex;
  justify-content: left;
	list-style: none;
}

.pagination-item {
	padding-right: 11px;
}

.pagination-item a {
	padding: 13px 17px;
  border: 3px solid #eee;
	background-color: #EEE;
	display: block;
	color: #000;
}

.pagination-item a:active  {
  border: 3px solid #dbdbdb;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item a:focus {
	background-color: #d5d5d5;
}

 .pagination-item-current a {
	background-color: #FFF;
} 

.pagination a:hover:not(.pagination-item-current) {
  background-color: #dfdfdf;
}

.pagination-item-next {
	width: 260px;
	text-align: center;
}

.visually-hidden {
	display: none;
}